@import '../libs/root';

.roundedButton {
  border: 1px solid $accent;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include fontMedium();
  margin-top: size(10);
  padding: 1.75rem 4rem;
  font-size: 5.25rem;
  text-transform: uppercase;
  border-radius: 80px;
  z-index: 2;
  color: $accent;
  text-decoration: none;
  
  background-color: transparent;

  p {
    position: relative;
    z-index: 2;
    transition: color 0.4s linear;
  }

  &:hover {
    p {
      color:white;
    }
  }
}

.circle{
  width: 100%;
  height: 150%;
  position: absolute;
  border-radius: 50%;
  top: 100%;
  background-color: $accent;
  z-index: 1;
}
