@import '../libs/root';

.main {
  position: relative;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .caption {
    h3 {
      color: whitesmoke;
      font-size: 4vw;
      @include fontBlack;
      text-align: center;
      text-transform: uppercase;

      &:last-child {
        margin-top: 1rem;
      }
    }
  }
}

.canvas {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}
