@import '../libs/root' ;

.carousel {
  position: relative;
  height: 300vh;
  background-color: $dark;

  .inner {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;
  }

  .cards {
    display: flex;
    align-items: center;
  }
}

.card {
  height: 50%;

  .card__inner {
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
      max-width: 400px;
      
      @include breakpoint(xxl) {
        max-width: 650px;
      }
    }
  }
}

.card__wrapper {
  overflow: hidden;
  width: 55vw;
}

.inView {
  display: flex;
  justify-content: center;
}
