@import '../libs/root' ;

.carousel {
  position: relative;
  height: 200vh;
  background-color: $dark;

  @include breakpoint(md) {
    height: 400vh;
  }

  .inner {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;
  }

  .cards {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.card {
  height: 80vw;

  @include breakpoint(md) {
    height: 40vw;
  }

  .card__inner {
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
      max-width: 400px;
      object-fit: cover;
      
      @include breakpoint(xxl) {
        max-width: 650px;
      }
    }
  }
}

.card__wrapper {
  overflow: hidden;
  width: 65vw;

  @include breakpoint(xxl) {
    width: 40vw;
  }  
}

.inView {
  display: flex;
  justify-content: center;
}
