@font-face {
    font-family: 'Slussen-Mono Black-TRIAL';
    src: url('Slussen-Mono-Black-TRIAL.woff2') format('woff2'),
        url('Slussen-Mono-Black-TRIAL.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Slussen-Mono';
    src: url('Slussen-Mono-Bold-TRIAL.woff2') format('woff2'),
        url('Slussen-Mono-Bold-TRIAL.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Slussen-Mono Extralight-TRIAL';
    src: url('Slussen-Mono-Extralight-TRIAL.woff2') format('woff2'),
        url('Slussen-Mono-Extralight-TRIAL.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Slussen-Mono Light-TRIAL';
    src: url('Slussen-Mono-Light-TRIAL.woff2') format('woff2'),
        url('Slussen-Mono-Light-TRIAL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Slussen-Mono Medium-TRIAL';
    src: url('Slussen-Mono-Medium-TRIAL.woff2') format('woff2'),
        url('Slussen-Mono-Medium-TRIAL.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Slussen-Mono Thin-TRIAL';
    src: url('Slussen-Mono-Thin-TRIAL.woff2') format('woff2'),
        url('Slussen-Mono-Thin-TRIAL.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Slussen-Mono -TRIAL';
    src: url('Slussen-Mono-Regular-TRIAL.woff2') format('woff2'),
        url('Slussen-Mono-Regular-TRIAL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Slussen-Mono Semibold-TRIAL';
    src: url('Slussen-Mono-Semibold-TRIAL.woff2') format('woff2'),
        url('Slussen-Mono-Semibold-TRIAL.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

