@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  /* overflow-y: hidden; */
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.nav-text {
  font-family: 'Oswald', sans-serif;
}

.nav-text-mobile {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  color: transparent;
}

.gallery-wrapper {
  min-height: calc(100vh - 130px);
}

.gallery-wrapper section {
  max-width: 25%;
  min-width: 25%;
  @apply mx-3 w-full relative;
}

.category-menu {
  transform: translateX(-50%);
  top: 12.5vh;
}

.gallery-item {
  height: 468px;
  overflow: hidden;
}

.gallery-item img {
  transition: all 500ms ease-in-out;
  height: 100%;
  object-fit: cover;
}

.gallery-item:hover img {
  transform: scale(1.08);
}

.gallery-item-image {
  @apply block absolute rounded-lg;
  max-width: 65%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.perspective-card {
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
  padding-top: 15px;
  padding-bottom: 15px;
}

.my-masonry-grid_column .lg-react-element > a { /* change div to reference your elements you put in <Masonry> */
  @apply block;
  margin-bottom: 15px;
}

.img-responsive {
  @apply block h-auto max-w-full w-full;
}

.lg-download.lg-icon {
  display: none !important;
}

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); 
}

.scrolling-carousel [data-arrow="left"], .scrolling-carousel [data-arrow="right"] {
  display: none !important;
}


@media (max-width: 520px) {
  .gallery-wrapper section {
    min-width: 90%;
    @apply mx-2;
  }
}
